.nav-wrapper{
  background-color:#11d62b;
}

.input-field input:focus + label {
  color:#11d62b !important;
}

.input-field input:focus {
  border-bottom: 1px solid #11d62b !important;
  box-shadow: 0 1px 0 0 #11d62b !important
}

