<h2 mat-dialog-title class="center-align">Добавление задачи</h2>
<mat-dialog-content>
    <form [formGroup]="formAdd" (ngSubmit)="add()">
      <div class="row">
        <div class="col-4" style="padding-left: 0px;">
          <mat-form-field style="width: 100%;">
            <label>Api</label>
             <mat-select formControlName="apiId">
              <mat-option *ngFor="let api of apiList" [value]="api.apiId">
                {{api.apiName}}
              </mat-option>
             </mat-select>
           </mat-form-field>
        </div>
        <div class="col-8">
          <div *ngIf="formAdd?.get('apiId')?.value == 2" class="input-field" style="margin-top: 16px;">
            <input id="filterText" required type="text" formControlName="filterText">
            <label for="filterText">Город:</label>
            <span class="helper-text red-text" *ngIf="formAdd?.get('filterText')?.invalid && formAdd?.get('filterText')?.dirty">
                <span *ngIf="formAdd?.get('filterText')?.errors?.required">Заполните поле</span>
            </span>
          </div>
        </div>
      </div>
        <div>
          <div class="input-field">
            <input id="name" required type="text" formControlName="name">
            <label for="name">Название задачи:</label>
            <span class="helper-text red-text" *ngIf="formAdd?.get('name')?.invalid && formAdd?.get('name')?.dirty">
                <span *ngIf="formAdd?.get('name')?.errors?.required">Заполните поле</span>
            </span>
          </div>
          <div class="input-field">
            <input id="description" required type="text" formControlName="description">
            <label for="description">Описание задачи:</label>
            <span class="helper-text red-text" *ngIf="formAdd?.get('description')?.invalid && formAdd?.get('description')?.dirty">
                <span *ngIf="formAdd?.get('description')?.errors?.required">Заполните поле</span>
            </span>
          </div>
          <div class="input-field">
            <input id="periodicityMin" required type="number" formControlName="periodicityMin">
            <label for="periodicityMin">Периодичность (мин):</label>
            <span class="helper-text red-text" *ngIf="formAdd?.get('periodicityMin')?.invalid && formAdd?.get('periodicityMin')?.dirty">
                <span *ngIf="formAdd?.get('periodicityMin')?.errors?.required">Заполните поле</span>
                <span *ngIf="formAdd?.get('periodicityMin')?.errors?.min">Минимум 5 минут</span>
            </span>
          </div>
        </div>
        <div class="center-align">
          <button class="btn waves-effect waves-light" [disabled]='formAdd?.invalid' style="background-color: #11d62b; margin-right: 20px;">Добавить</button>
          <button mat-dialog-close class="btn waves-effect waves-light" style="background-color: #fa053e;">Отмена</button>
        </div>
      </form>  
</mat-dialog-content>


   